<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />    
    <title>
            Welcome to HEX/Games/
        </title>
        <link rel="stylesheet" href="style.css">
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script> -->
    </head>
    <body>
        
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo"><a class="jump" href="index.html">HEX</a></h2>
                </div>
                <div class="container">
                <div class="menu">
                    
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="movie.html">MOVIES</a></li>
                        <li><a href="game.html">GAMES</a></li>
                        <li><a href="tour.html">TOUR</a></li>
                        <li><a href="food.html">FOOD</a></li>
                        <li><a href="stuff.html">STUFF</a></li>
                        <li><a href="chitchat.html">CHITCHAT</a></li>
                        
                    </ul>
                </div>


                
                <div class="heading">
                    Games
                </div>

                <div class="subheading">
                    Gamers are awesome! I do enjoy the moments that feeling the world in each game I played.
                </div>


                /***   First game  ***/
                <div class="titlename">
                    GTA V
                    <span class="time_and_place">(2016. summer)</span>
                </div>

                
                    <img class="img" src="../images/gta.jpg">
                <section class="counters">
                    <div>
                        Story:
                        <span class = "counter" data-target="8" style="margin-left: 14%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Visual Arts:</span>
                        <span class = "counter" data-target="10" style="margin-left: 8%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Characters:
                        <span class = "counter" data-target="9" style="margin-left: 3%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Gameplay:</span>
                        <span class = "counter" data-target="10" style="margin-left: 9%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Sound:
                        <span class = "counter" data-target="9" style="margin-left: 11.5%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Impressions:</span>
                        <span class = "counter" data-target="10" style="margin-left: 5.5%;">0</span>/10
                    </div>

                
                </section>

                <div class="article">
                    There is no need to repeat the greatness of GTA series, especially GTA V. 
                    In 2016, this is the best game I've ever played and even til now it is still popular. 
                </div>

                /***  Second Game ***/
                <div class="titlename">
                    Overwatch
                    <span class="time_and_place">(2016. summer)</span>
                </div>

                
                    <img class="img" src="../images/overwatch.jpg">
                <section class="counters">
                    <div>
                        Story:
                        <span class = "counter" data-target="7" style="margin-left: 14%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Visual Arts:</span>
                        <span class = "counter" data-target="9" style="margin-left: 9.5%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Characters:
                        <span class = "counter" data-target="8" style="margin-left: 3%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Gameplay:</span>
                        <span class = "counter" data-target="9" style="margin-left: 10.5%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Sound:
                        <span class = "counter" data-target="9" style="margin-left: 11.5%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Impressions:</span>
                        <span class = "counter" data-target="10" style="margin-left: 5%;">0</span>/10
                    </div>

                
                </section>

                <div class="article">
                    If you ask me what is the most impressive game I played in the summer of 2016, I will probably say Overwatch.
                    It is not the best game at that moment and has a bunch of drawbacks such as fairly-slow update frequency, but I have
                    to admit that it did bring me a lot of happiness in that summer. Our memories of that time might begin to blur as time 
                    goes on, but I will always remember, The world needs more Heroes!
                    
                </div>



                /***  Third Game ***/
                <div class="titlename">
                    Assasin's Creed: Revelations
                    <span class="time_and_place"><br>(2013. summer)</span>
                </div>

                
                    <img class="img" src="../images/revelations.jpg">
                <section class="counters">
                    <div>
                        Story:
                        <span class = "counter" data-target="9" style="margin-left: 14%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Visual Arts:</span>
                        <span class = "counter" data-target="9" style="margin-left: 9.5%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Characters:
                        <span class = "counter" data-target="10" style="margin-left: 2%;">0</span>/10
                        <span style="margin-left: 7.5%;">
                        Gameplay:</span>
                        <span class = "counter" data-target="8" style="margin-left: 10.5%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Sound:
                        <span class = "counter" data-target="9" style="margin-left: 11.5%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Impressions:</span>
                        <span class = "counter" data-target="10" style="margin-left: 5%;">0</span>/10
                    </div>

                
                </section>

                <div class="article">
                    Assasin's Creed: Revelations is one of the most impressive game I've played in my middle/high school period. The cool
                    moves and attracting game scenes drew me into its world, and felt Ezio's dramatic journey. Fantastic game world and fantastic theme music!
                    
                </div>





                /***   Fourth game  ***/
                <div class="titlename">
                    Witcher 3: Wild Hunt
                    <span class="time_and_place">(2017. winter)</span>
                </div>

                
                    <img class="img" src="../images/witcher.jpg">
                <section class="counters">
                    <div>
                        Story:
                        <span class = "counter" data-target="10" style="margin-left: 14%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Visual Arts:</span>
                        <span class = "counter" data-target="10" style="margin-left: 6%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Characters:
                        <span class = "counter" data-target="10" style="margin-left: 3%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Gameplay:</span>
                        <span class = "counter" data-target="10" style="margin-left: 7%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Sound:
                        <span class = "counter" data-target="10" style="margin-left: 11.5%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Impressions:</span>
                        <span class = "counter" data-target="10" style="margin-left: 3.5%;">0</span>/10
                    </div>

                
                </section>

                <div class="article">
                    Welcome to the best of the best in my heart! Actually after 4 years I played it again, it is still the Top1 of my game recommendation list.
                    True it is not suitable for everyone, but once you step into the world and start having fun, you cannot be able to stop. Fantastic graphics, impressive story, 
                    vivid character shaping and immersive music, I just don't have a reason to rank it as the second place.

                </div>































                </div>
                

            </div>

            
            

    
            <!-- <script>
                $(document).ready(function(){
                    $(".rating").counterUp({
                        delay: 10,
                        time: 1200
                    });
                });
            </script> -->
            <script src="script.js"></script>
        
    </body>















</html>