<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Welcome to HEX
        </title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo"><a class="jump" href="index.html">HEX</a></h2>
                </div>
            
                <div class="menu">
                    <!-- <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">MOVIES</a></li>
                        <li><a href="#">GAMES</a></li>
                        <li><a href="#">TOUR</a></li>
                        <li><a href="#">FOOD</a></li>
                        <li><a href="#">STUFF</a></li>
                        <li><a href="#">GOSSIP</a></li>
                        
                    </ul> -->
                </div>
                

            </div>

            <div class="object">
            <ul class="honeycomb">
                <a class="jump" href="movie.html"><li class="honeycomb-cell">
                    
                    <img class="honeycomb-cell_img" src="../images/movies.png">
                    <div class="honeycomb-cell_title">MOVIES</div>
                </li></a>

                <a class="jump" href="game.html"><li class="honeycomb-cell">
                    
                    <img class="honeycomb-cell_img" src="../images/games2.png">
                    <div class="honeycomb-cell_title">GAMES</div>
                </li></a>

                <a class="jump" href="tour.html"><li class="honeycomb-cell">
                    
                    <img class="honeycomb-cell_img" src="../images/tour.jpg">
                    <div class="honeycomb-cell_title">TOUR</div>
                </li></a>

                <li class="honeycomb-cell honeycomb_Hidden">
                    
                </li>

                

                <a class="jump" href="food.html"style="margin-left: 0%;"><li class="honeycomb-cell" >
                    
                    <img class="honeycomb-cell_img" src="../images/food.jpg">
                    <div class="honeycomb-cell_title">FOOD</div>
                </li></a>

                <a class="jump" href="stuff.html" ><li class="honeycomb-cell" >
                    
                    <img class="honeycomb-cell_img" src="../images/stuff.jpg">
                    <div class="honeycomb-cell_title">STUFF</div>
                </li></a>

                <!-- <li class="honeycomb-cell honeycomb_Hidden" >    
                </li> -->

                <li class="honeycomb-cell honeycomb_Hidden">
                </li>

                <a class="jump" href="chitchat.html"style="margin-left: -4%;"><li class="honeycomb-cell" >
                    
                    <img class="honeycomb-cell_img" src="../images/chitchat.jpg">
                    <div class="honeycomb-cell_title" style="font-size: 1.4em;">CHITCHAT</div>
                </li></a>

                <li class="honeycomb-cell honeycomb_Hidden">
                    
                </li>
                
            </ul>



            <div class="content">
                <h1><br>Welcome to <br>My Little World<br> ------ <span>HEX!</span></h1>
                <!-- <p class="par">This is my own website for sharing SIX columns including my favourite movies, fantastic games, 
                    <br>impressive travel experiences, food I like or I made, things I wanna share and some thoughts from my mind. 
                    <br>That's why it calls "HEX" ! Enjoy yourself !</p>

                    <button class="cn"><a href="#">Placeholder</a></button> -->

                    
            </div>

            

        </div>

        </div>

        <!-- <script>
            $(document).ready(function(){
                $(".rating").counterUp({
                    delay: 10,
                    time: 1200
                });
            });
        </script> -->

        <!-- <script src="script.js"></script> -->   
    </body>















</html>