<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />    
    <title>
            Welcome to HEX/Movies/
        </title>
        <link rel="stylesheet" href="style.css">
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script> -->
    </head>
    <body>
        
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo"><a class="jump" href="index.html">HEX</a></h2>
                </div>
                <div class="container">
                <div class="menu">
                    
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="movie.html">MOVIES</a></li>
                        <li><a href="game.html">GAMES</a></li>
                        <li><a href="tour.html">TOUR</a></li>
                        <li><a href="food.html">FOOD</a></li>
                        <li><a href="stuff.html">STUFF</a></li>
                        <li><a href="chitchat.html">CHITCHAT</a></li>
                        
                    </ul>
                </div>


                
                <div class="heading">
                    Movies
                </div>

                <div class="subheading">
                    This is my own movie box that I share the movies I've watched or the ones which impressed me. Also, I would use it as a movie diary for later reminiscing.
                </div>


                /***   First movie  ***/
                <div class="titlename">
                    Interstellar
                    <span class="time_and_place">(2020. 8. in Cinema)</span>
                </div>

                
                    <img class="img" src="../images/interstellar.jpg">
                <section class="counters">
                    <div>
                        Story:
                        <span class = "counter" data-target="9" style="margin-left: 14%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Visual Arts:</span>
                        <span class = "counter" data-target="9" style="margin-left: 10%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Characters:
                        <span class = "counter" data-target="9" style="margin-left: 3%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Theme:</span>
                        <span class = "counter" data-target="10" style="margin-left: 15%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Music:
                        <span class = "counter" data-target="10" style="margin-left: 10.5%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Impressions:</span>
                        <span class = "counter" data-target="9" style="margin-left: 7.5%;">0</span>/10
                    </div>

                
                </section>

                <div class="article">
                    The most impressive factors of the movie are the perfect combination of humanism and science fiction, and its Incredible music.
                    Interstellar is still the best hard-core science fiction movie I've ever seen! 
                </div>

                /***  Second Movie ***/
                <div class="titlename">
                    Avatar
                    <span class="time_and_place">(2021. 3. in Cinema)</span>
                </div>

                
                    <img class="img" src="../images/avatar.jpg">
                <section class="counters">
                    <div>
                        Story:
                        <span class = "counter" data-target="8" style="margin-left: 14%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Visual Arts:</span>
                        <span class = "counter" data-target="10" style="margin-left: 8%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Characters:
                        <span class = "counter" data-target="8" style="margin-left: 3%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Theme:</span>
                        <span class = "counter" data-target="9" style="margin-left: 17.5%;">0</span>/10
                    </div>

                    <div class="top-padding">
                        Music:
                        <span class = "counter" data-target="9" style="margin-left: 13%;">0</span>/10
                        <span style="margin-left: 9%;">
                        Impressions:</span>
                        <span class = "counter" data-target="10" style="margin-left: 5.2%;">0</span>/10
                    </div>

                
                </section>

                <div class="article">
                    Even after around a decade, Avatar is still the highest-grossing movie in the history, and even some many years later its visual arts are maybe still the Top5. What can I say,
                    we all love the movie. 
                </div>


































                </div>
                

            </div>

            
            

    
            <!-- <script>
                $(document).ready(function(){
                    $(".rating").counterUp({
                        delay: 10,
                        time: 1200
                    });
                });
            </script> -->
            <script src="script.js"></script>
        
    </body>















</html>